services:
  watched-by-all:
    build: .
    container_name: plex-watched-by-all
    ports:
      - "8088:8088"
    environment:
      - JELLYFIN_URL=http://JELLYFIN_IP:8096
      - JELLYFIN_APIKEY=YOUR_JELLYFIN_API_KEY
      - WATCH_THRESHOLD=0.95
      - REFRESH_MINUTES=30
    restart: unless-stopped
